@import "~bootstrap";
@import "./assets/scss/fontawesome/fontawesome.scss";
@import "./assets/scss/fontawesome/regular.scss";
@import "./assets/scss/fontawesome/brands.scss";
@import "./assets/scss/fontawesome/solid.scss";

html,
body {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

}

.cursor-pointer {
  cursor: pointer;
}
